#bottom, #top {
	width:100vw;
	height:100vw;
	margin: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#bottom {
	z-index: 0;
	opacity: 100;
}

#top {
	z-index: 20;
	opacity: 0;
}

canvas#shuffle {
	width:100vw;
	height:100vw;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:10;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
