#bottom, #top {
	width:1930px;
	height:1086px;
	margin: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#bottom {
	z-index: 0;
	opacity: 100;
}

#top {
	z-index: 20;
	opacity: 0;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib, .mapboxgl-ctrl-logo {
	display: none;
}

canvas#shuffle {
	width:1930px;
	height:1086px;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index:10;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
