body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#displayCanvas{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 1922px;
	height: 1090px;
}

#stagingCanvas, #tempCanvas{
	opacity: 0;
	width: 1922px;
	height: 1090px;
}

div {
	float: left;
}

canvas {
	float: left;
}


.mapboxgl-control-container {
	display: none;
}
