*.mp4
*.mov
*.prproj
*.qgs
*.geojson
*/GEOJSON
*/tiles
*/node_modules
*/Coney-IR
*/Coney-IR-RED
*/Flatbush-Ditmas-Park
config.js
xxx-Satellite-Clustering/data
xxx-Satellite-Clustering/generateBlockImages
034-Routine-Grid/img
035-Routine-Differencing/img
*/*/node_modules
*.db
*.pem
053-Routine-Identification/img
055-It-Keeps-Thinking-Its-A-Truck/img
