*.mp4
*.mov
*.prproj
*.qgs
*.geojson
*/GEOJSON
*/tiles
*/node_modules
*/Coney-IR
*/Coney-IR-RED
*/Flatbush-Ditmas-Park
config.js
xxx-Satellite-Clustering/data
xxx-Satellite-Clustering/generateBlockImages
034-Routine-Grid/img
035-Routine-Differencing/img
*/output
044-Deep-Body/Deep_Body_01/output/
045-Curtain/Curtain_01/output/
045-Curtain/Curtain_02/output/
047-Body-Context/Body_Context_01/output/
047-Body-Context/Body_Context_02/output/
047-Body-Context/Body_Context_03/output/
047-Body-Context/img
xxx-Body-Shaping/Body_Shaping_01/output/
*.tga
