body {
	margin: 0;
	padding: 0;
}

#context {
	width:100vw;
	height:100vh;
	z-index: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#remix {
	width:200px;
	height:200px;
	z-index: 10;
	margin: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#altremix {
	width:200px;
	height:200px;
	z-index: -10;
	margin: 0;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.mapboxgl-control-container {
	display: none;
}
