body {
	margin: 0;
	padding: 0;
}

#wrapper {
	position: absolute;
	top: 50%;
	transform: translate(3.5%,-50%);
}

#graph, #aerial, #map {
	width:27vw;
	height:27vw;
	float:left;
	margin: 35px;
}

.mapboxgl-control-container {
	display: none;
}
