body {
	margin: 0;
	padding: 0;
}

#graph {

}

#graph, #aerial, #map {
	width:33vw;
	height:33vw;
	float:left;
	margin-top:16.5vw;
}

h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	color: #000;
	font-weight: 400;
	text-align: right;
	margin: 5px 0;
}

h2 {
	font-family: Lora;
	font-size: 62px;
	font-weight: 400;
	color: #fff;
	text-align: right;
	margin: 15px 0;
}

p {
	font-family: Lora;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-align: right;
	margin: 15px 0 15px 65px;
}