body {
	margin: 0 0 0 0;
	padding: 0;
	font-family: Inconsolata;
}

#wrapper {
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

#orig {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 1024px;
	height: 848px;
}
