body {
  margin: 0;
  padding: 0;
}
#aerialmap, #irmap, #demmap {
   width: 600px;
   height: 600px;
   display: inline;
   float: left;
}

#allSliders {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 100;
  background-color: #fff;
  border: 3px solid #000;
}

#allSliders h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  margin: 0;
  width: 150px;
  background-color: #000;
  color: #fff;
}

.expanded {
  display: block;
}

.collapsed {
  display: none;
}

.slidercontainer {
  margin: 15px;
  width: 150px;

}

label {
  font-family: 'Work Sans', sans-serif;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
}
