
body {
	margin: 0 0 0 0;
	padding: 0;
}


#controls {
	position: absolute;
	width: 250px;
	top: 50px;
	right: 50px;
	background-color: '#ffffff';
	z-index: 10;
}

h1 {
	font-family: 'Karla', monospace;
	font-size: 18px;
	color: #000;
	font-weight: 700;
	margin: 10px 0 5px 0;
}

h2 {
	font-family: 'Karla', monospace;
	font-size: 16px;
	color: #000;
	font-weight: 700;
}

button {
	min-width: 32px;
	font-family: 'Karla', monospace;
	font-size: 16px;
	padding: 5px 5px;
	margin: 5px 5px 10px 5px;
	color: #d4d4d4;
	background-color: #fff;
	border: none;
}

.selected {
	background-color: #000;
	color: #fff;
}

button:hover {
	background-color: #000;
	color: #fff;
}

button:focus {
	outline:0;
}
