
body {
	margin: 0 0 0 0;
	padding: 0;
	font-family: 'helvetica', sans-serif;
	overflow: hidden;
}

#controls {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	margin: 50px auto;
}

#controls .group {
	margin: 0 50px;
}

#controls h1 {
	font-size: 12px;
	color: #000;
	font-weight: 600;
	margin: 10px 0 0px 0;
}

button {
	font-size: 12px;
	padding: 0px 0px;
  margin: 0px 8px 10px 0px;
	color: #d2d2d2;
	background-color: #fff;
	border: none;
}

.selected {
	color: #000;
}

button:hover {
	color: #000;
}

button:focus {
	outline:0;
}
