body {
	margin: 0;
	padding: 0;
}
img {
	object-fit: cover;
}

div#images {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 8vh 0;
}
#row1, #row2, #row3, #row4, #row5, #row6 {
	padding: 0;
	font-size: 0;
	line-height: 0;
}

img.hover {
	opacity: 0;
}
