body {
	margin: 0 !important;
	padding: 0;
}

div#seventh, div#prince, div#broadway {
	height: 60vh;
	overflow: scroll;
	white-space: nowrap;
	line-height: 0;
	font-size: 0;
}

img {
	height:100%;
}

#sevLabel, #princeLabel, #broadwayLabel {
	position: absolute;
	left: 50px;
	z-index: 20;
}

#sevLabel {
	top: 0vh;
}
#princeLabel {
	top: 60vh;
}
#broadwayLabel {
	top: 120vh;
}

h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	margin: 50px 0 0 0;
}
