body {
	margin: 0 !important;
	padding: 0;
}

div#seventh, div#prince, div#broadway {
	height: 60vh;
	overflow: scroll;
	white-space: nowrap;
	line-height: 0;
	font-size: 0;
}



img {
	height:100%;
/*	position: relative;
  	top: 50%;
  	transform: translateY(-50%);*/
/*	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);*/
}


#sevLabel {
	position: absolute;
	left: 50px;
	top: 0vh;
  	z-index: 20;
}
#princeLabel {
	position: absolute;
	left: 50px;
	top: 60vh;
  	z-index: 20;
}
#broadwayLabel {
	position: absolute;
	left: 50px;
	top: 120vh;
  	z-index: 20;
}


h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	margin: 50px 0 0 0;
}

h2 {
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin: 5px 0;
}
