body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

div.imgwrapper {
	width: 2204px;
	height: 2204px;
}

img.hid {
	display: none;
}

img.vis {
	display: block;
}

img {
	height: 100%;
	margin: 0 auto;
}
