body {
	margin: 0;
	padding: 0;
}

#context, #contextAlt {
	width:100vw;
	height:100vh;
	margin: 0;
	z-index: 1;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#contextAlt {
	z-index: -1;
}

#remix, #remixAlt {
	width:450px;
	height:450px;
	margin: 0;
	z-index: 10;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

#remixAlt {
	z-index: -10;
}


.mapboxgl-control-container {
	display: none;
}
