body {
	margin: 0;
	padding: 0;
}

#toggles {
	position: absolute;
	bottom: 8%;
	right: 8%;
	z-index: 100;
}

button:focus {
	outline: none;
	border: 2px solid #3326a8;
}

button.active, button.inactive {
	padding: 10px;
	margin: 5px 10px;
	display: inline;
	border: 2px solid #5342f4;
	border-radius: 20px;
}

button.active {
	background-color: #5342f4;
	color: #fff;
}

button.inactive {
	background-color: rgba(255,255,255,.7);
	color: #5342f4;
}
