#map {
	width:800px;
	height:800px;
	z-index: 1;
}

body {
	margin: 0;
	padding: 0;
}

#desc {
	position: absolute;
	top: 50%;
  	right: 50%;
  	transform: translate(0, -50%);
  	z-index: 10;
}

h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	text-align: right;
	margin: 5px 0;
}

h2 {
	font-family: Lora;
	font-size: 62px;
	font-weight: 400;
	color: #fff;
	text-align: right;
	margin: 15px 0;
}

p {
	font-family: Lora;
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-align: right;
	margin: 15px 0 15px 65px;
}