body {
	margin: 0 0 0 0;
	padding: 0;
	overflow: hidden;
}

p.label {
	font-family: 'helvetica', sans-serif !important;
	font-size: 30px;
	color: #000;
	font-weight: 700;
	margin: 0;
	position: absolute;
	z-index: 0;
	left: 100px;
}

#klabel {
	top: calc(33% - 50px);
	left: 50%;
	transform: translateX(-50%);
}

#glabel {
	top: calc(66% - 50px);
	left: 50%;
	transform: translateX(-50%);
}

#alabel {
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}




#kmeans, #gmm, #agglom {
	width: 100%;
  /* height: 100%; */
	height: 33%;
	overflow: hidden;
  overflow-x: scroll;
	line-height: 0;
}

#kmeans::-webkit-scrollbar, #gmm::-webkit-scrollbar, #agglom::-webkit-scrollbar  {
    display: none;
}
