body {
	margin: 0 0 0 0;
	padding: 0;
}

p.label {
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	color: #000;
	font-weight: 700;
	margin: 0;
	position: absolute;
	z-index: 0;
	left: 100px;
}

#klabel {
	top: calc(33% - 50px);
}

#glabel {
	top: calc(66% - 50px);
}

#alabel {
	bottom: 50px;
}




#kmeans, #gmm, #agglom {
	width: 100%;
  /* height: 100%; */
	height: 33%;
	overflow: hidden;
  overflow-x: scroll;
	line-height: 0;
}
