
body {
	margin: 0 0 0 0;
	padding: 0;
}

div#playhead {
	width:1px;
	height:100vh;
	background-color: black;
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
}

#elevation, #path, #audio {
	width: 100vw;
	height: 33vh;
}

h1 {
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	font-weight: 400;
	margin: 0;
}

h1#label1 {
	position: absolute;
	top: 30vh;
	left: 50px;
	color: #F06449;
}

h1#label2 {
	position: absolute;
	top: 60vh;
	left: 50px;
	color: #3AB795;
}

h1#label3 {
	position: absolute;
	top: 90vh;
	left: 50px;
	color: #5BC3EB;
}
