#streetLeft, #streetRight {
  /* font-size: 0;
  line-height: 0; */
  overflow: hidden;
  position: absolute;
  top:50%;
  transform: translate(0%,-50%);
}

#streetLeft {
  width: 50vw;
  z-index: 10;
}

#streetRight {
  width: 100vw;
  z-index: 0;
}


img {
  width: auto;
  height: 100vh
}

body{
  margin:0;
  padding: 0;
  overflow: hidden;
}

h1 {
  position: relative;
	font-family: 'Helvetica', sans-serif;
  color: #fff;
  text-transform: uppercase;
	font-size: 36px;
	font-weight: 800;
  z-index: 50;
  text-align: center;
  top: 71vh;
  width: 50vw;
  display: inline-block;
}
#streetLeftlabel {
  left: 0;
  top: 78vh;
}
#streetRightlabel {
  left: 50vw;
}
