body {
	margin: 0 0 0 0;
	padding: 0;
	font-family: Inconsolata;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h1 {
	color: '#FFFFFF';
	font-family: 'Karla', sans-serif;
	font-weight: 700;
	font-size: 4em;
  text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#lat, #lon {
	visibility: hidden;
}


#wrapper {
	background-color: '#235512';
	width: 100vw;
	height: 100vh;
}

#streetview {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
